// Define variables for your color scheme

// For example:
$light-blue: #454E7B;
$blue: #1F2D5E;
$gray: #818088;
$light-gray: #9F9EA6;

$green: #00FF10;
$yellow: #FFFF00;
$red: #FF0000;
$orange: #FF530D;
