<div class="container">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2>Phui Phui</h2>
      <p>Background with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2>Sonny</h2>
      <p>Background with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2>Matthew</h2>
      <p>Background with <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2>Shaun</h2>
      <p>Background with <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
