<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Home", home_path, class: "tab-underlined active" %>
  </li>
  <li>
    <%= link_to "About", about_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "Contact", contact_path, class: "tab-underlined" %>
  </li>
</ul>
