<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "Home", home_path, class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "About", about_path, class: "tab-underlined active" %>
  </li>
  <li>
    <%= link_to "Contact", contact_path, class: "tab-underlined" %>
  </li>
</ul>


<h1 style="margin-bottom: 30px; text-align: center; color: #1F2D5E;">About Our Team</h1>
<%= render "./shared/photo-slider" %>
