.banner {
  color: $blue;
  height: 100vh;
  background-size: cover !important;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
 .banner h1 {
  font-size: 65px;
  font-weight: bolder;
  letter-spacing: -3px;
  margin-top: 20%;
  font-family: $headers-font;
}

#title-background-color {
  background-image: linear-gradient(to right, transparent 50%, #ffffff 50%);
  background-origin: 0;
  background-size: 200% 50%;
  background-repeat: repeat-x;
  background-position: -100% 100%;
  transition: background-position 1s;
}

 .banner h3 {
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: -1px;
  font-family: $body-font;
 }

 .home-button {
  color: white;
  font-size: 30px;
  font-family: $body-font;
  background-color: $blue;
  border: 1px $blue;
  border-radius: 2px;
  width: 15%;
  margin: 2% 42.5%;

  &:hover {
    text-decoration: none;
    color: white;
  }
 }
 .banner-button {
  text-decoration: none;
  color: white;

  &:active {
    text-decoration: none;
    color: white;
  }
  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.6;
  }
 }


 @media screen and (max-width: 736px) {

    /* Button */

      input[type="button"],
      input[type="submit"],
      input[type="reset"],
      button,
      .home-button {
        text-align: center;
        font-size: 1.2em;
        width: 25%;
        padding: 1em 0 1em 0;
      }
    }
