.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 60px 10px;
  padding: 10px 5px;

  img {
    padding: 10px 0px;
  }

  p {
    font-weight: lighter;
    text-align: center;
    color: $blue;
  }
}

.home-card-title {
  padding-top: 10px;
}
