.tabs-underlined {
  display: flex;
  justify-content: flex-end;
  font-family: $headers-font;
  margin-top: 10px;
}

.tabs-underlined .tab-underlined {
  color: $blue;
  padding: 8px;
  margin: 8px 16px;
  opacity: .8;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;

  &:hover {
    color: $light-gray;
    font-weight: bold;
  }
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid $blue;
}

